.preview{
	width: 100%;
	height: 20vmin;
	background-color:pink;
}
.preview img{
	width: 5em;
	height: 5em;
}
.title{
	font-size: 2em;
	color: white;
	margin: 1em 0 0 0;
	padding:0;
}
.title p{
	margin: 0;
	border: 0;
}
.index{
	margin:0;
	padding:0;
}
.Article{
	width:auto;
	height:auto;
	align-content: space-between;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(1,80%);
	justify-content: space-evenly;
	justify-items: stretch;
}
.Article h2{
	letter-spacing: .6vmin;
	color: lightgrey;
	font-size: 2.3em;
	font-weight: 400;
}
.Article h3{
	letter-spacing: .2vmin;
	color: lightgrey;
	font-size: 1.3em;
	font-weight: 200;
}
.Article .caption{
	text-align: center;
	letter-spacing: .3vmin;
	margin:inherit;
	z-index: 1;
}
.link{
	cursor:pointer;
}
@media screen and (max-width: 600px){
	.Article{
		grid-template-columns: repeat(1,100%);
	}
}
@media screen and (min-width: 1200px){
	.Article{
		grid-template-columns: repeat(1,40%);
	}
}
