.entry{
	grid-column: 1 ;
}
.slideshow{
	display: grid;
	grid-template-columns: repeat(1, 80%);
	justify-content: space-around;
	justify-items: stretch;
	align-items: center;
	align-content: center;
}
@media (max-width: 650px){
	.slideshow{
		display: block;
	}
}
@media (min-width: 650px){
	.slideshow{
		display: grid;
		grid-template-columns: repeat(1, 60%);
	}
}
