.link{
	cursor:pointer;
}
.Episode{
	margin: 0 5vmin;
}
.Description{
	font-weight: 200;
	line-height: 2em;
	letter-spacing: 0.3vmin;
	display: grid;
	grid-template-columns: repeat(1, 80%);
	justify-content: space-around;
	justify-items: stretch;
	align-items: center;
	align-content: center;
}
.Description p:first-of-type::first-letter{
	font-size: 10vmin;
}
@media screen and (max-width: 800px){
	.Episode{
		margin: 0 5vmin;
	}
	.Description{
		grid-template-columns: repeat(1, 100%);

	}
}
